.card{
    width: auto;
}
.width{
    width: 450px;
}
.title{
    font-size: 32px !important;
}
.text-center{
    text-align: center;
}
.mb-5{
    margin-bottom: 30px;
}
.mt-5{
    margin-top: 32px !important;
}
.button{
    width: 100%;
    height: 50px;
    font-size: 18px;
}